.productCard .textPart{
    transition: transform 0.3s ease-in-out;
}

.productCard:hover .textPart {
    transform: translateY(-0.4rem);
}

.productCard:hover {
    box-shadow: rgb(244, 231, 231) 0px 5px 15px;
}