<div class="mt-14">
    <div>
        <app-main-carousel/>
    </div>
    <div>
        <app-product-slider title = "Women Sarees" [products]="womenSarees"/>
        <app-product-slider title = "Men's Jeans" [products]="mensJeans"/>
        <app-product-slider title = "Women Tops" [products]="womenTops"/>
        <app-product-slider title = "Lehanga Choli" [products]="lehangaCholi"/>
        <app-product-slider title = "Women Dress" [products]="womenDress"/>
        <app-product-slider title = "Men's Kurta" [products]="menskurta"/>
    </div>
</div>
